# MAC5861 - Modelagem de Banco de Dados 2015  (Profa. Kelly R. Bragheto)

Resolução da Lista de Exercícios III

Thales A. B. Paiva (thalespaiva@gmail.com)

# Exercício 1

Considere a relação `direct_sequel(Film, Sequel)` que armazena tuplas `(m, s)` em que `t` é o título de um filme e `s` é o título de uma sequência imediata de `t`. Considere que podemos ter mais de uma sequência imediata de um mesmo filme.

Define-se uma relação continuação, representada por `sequel`, tal que uma dupla `(t, c)` está em `sequel` se:
* `c` é sequência imediata de `t`
* `c` é sequência de uma sequência de uma sequência imediata de `t`

## Resolução

Resolvemos este exercício em Python usando o módulo `pyDatalog` (em <https://sites.google.com/site/pydatalog/home>).

In [1]:
from pyDatalog import pyDatalog as pdl

Vamos incializar nossa relação `direct_sequel`.

In [2]:
pdl.create_terms('direct_sequel')

Agora colocamos algumas tuplas:

In [3]:
+direct_sequel('Rocky I', 'Rocky II')
+direct_sequel('Rocky II', 'Rocky III')
+direct_sequel('Rocky III', 'Rocky IV')
+direct_sequel('Rocky IV', 'Rocky V')
+direct_sequel('Rocky V', 'Rocky VI')
+direct_sequel('Esqueceram de Mim 1', 'Esqueceram de Mim 2')
+direct_sequel('Esqueceram de Mim 2', 'Esqueceram de Mim 3')
+direct_sequel('Esqueceram de Mim 3', 'Esqueceram de Mim 4')
+direct_sequel('Esqueceram de Mim 4', 'Esqueceram de Mim 5')
+direct_sequel('Star Wars: Episódio IV', 'Star Wars: Episódio V')
+direct_sequel('Star Wars: Episódio V', 'Star Wars: Episódio VI')
+direct_sequel('Senhor dos Anéis: A Sociedade do Anel', 'Senhor dos Anéis: As Duas Torres')
+direct_sequel('Senhor dos Anéis: As Duas Torres', 'Senhor dos Anéis: O Retorno do Rei')
+direct_sequel('Filme X', 'Filme X.1')
+direct_sequel('Filme X', 'Filme X.2')
+direct_sequel('Filme Y', 'Filme Y.1')
+direct_sequel('Filme Y.1', 'Filme Y.1.1')
+direct_sequel('Filme Y.1', 'Filme Y.1.2')

Precisamos de quatro variáveis para definir as consultas pedidas.

In [4]:
pdl.create_terms('W, X, Y, Z')

Podemos ver a tabela que define o predicado `direct_sequel` abaixo.

In [5]:
print(direct_sequel(X, Y).sort())

X                                     | Y
--------------------------------------|-----------------------------------
Esqueceram de Mim 1                   | Esqueceram de Mim 2
Esqueceram de Mim 2                   | Esqueceram de Mim 3
Esqueceram de Mim 3                   | Esqueceram de Mim 4
Esqueceram de Mim 4                   | Esqueceram de Mim 5
Filme X                               | Filme X.1
Filme X                               | Filme X.2
Filme Y                               | Filme Y.1
Filme Y.1                             | Filme Y.1.1
Filme Y.1                             | Filme Y.1.2
Rocky I                               | Rocky II
Rocky II                              | Rocky III
Rocky III                             | Rocky IV
Rocky IV                              | Rocky V
Rocky V                               | Rocky VI
Senhor dos Anéis: A Sociedade do Anel | Senhor dos Anéis: As Duas Torres
Senhor dos Anéis: As Duas Torres      | Senhor dos Anéis: O Retorno do Rei
Star Wars: Episódio IV                | Star Wars: Episódio V
Star Wars: Episódio V                 | Star Wars: Episódio VI

Estamos aptos a escrever as consultas do **item A** ao **item F**.

### (A)
*Escreva uma consulta que retorne os pares `(x, y)` tais que `y` é continuação de `x`.*

Chamamos esta consulta de `sequel(X, Y)`.

In [6]:
pdl.create_terms('sequel')

Pela definição de continuação, `sequel`, dada no enunciado, temos:

In [7]:
sequel(X, Y) <= direct_sequel(X, Y)
sequel(X, Y) <= direct_sequel(X, Z) & sequel(Z, Y)

sequel(X,Y) <= direct_sequel(X,Z)&sequel(Z,Y)

Abaixo, vemos a tabela gerada por esta consulta.

In [8]:
print(sequel(X, Y).sort())

X                                     | Y
--------------------------------------|-----------------------------------
Esqueceram de Mim 1                   | Esqueceram de Mim 2
Esqueceram de Mim 1                   | Esqueceram de Mim 3
Esqueceram de Mim 1                   | Esqueceram de Mim 4
Esqueceram de Mim 1                   | Esqueceram de Mim 5
Esqueceram de Mim 2                   | Esqueceram de Mim 3
Esqueceram de Mim 2                   | Esqueceram de Mim 4
Esqueceram de Mim 2                   | Esqueceram de Mim 5
Esqueceram de Mim 3                   | Esqueceram de Mim 4
Esqueceram de Mim 3                   | Esqueceram de Mim 5
Esqueceram de Mim 4                   | Esqueceram de Mim 5
Filme X                               | Filme X.1
Filme X                               | Filme X.2
Filme Y                               | Filme Y.1
Filme Y                               | Filme Y.1.1
Filme Y                               | Filme Y.1.2
Filme Y.1                             | Filme Y.1.1
Filme Y.1                             | Filme Y.1.2
Rocky I                               | Rocky II
Rocky I                               | Rocky III
Rocky I                               | Rocky IV
Rocky I                               | Rocky V
Rocky I                               | Rocky VI
Rocky II                              | Rocky III
Rocky II                              | Rocky IV
Rocky II                              | Rocky V
Rocky II                              | Rocky VI
Rocky III                             | Rocky IV
Rocky III                             | Rocky V
Rocky III                             | Rocky VI
Rocky IV                              | Rocky V
Rocky IV                              | Rocky VI
Rocky V                               | Rocky VI
Senhor dos Anéis: A Sociedade do Anel | Senhor dos Anéis: As Duas Torres
Senhor dos Anéis: A Sociedade do Anel | Senhor dos Anéis: O Retorno do Rei
Senhor dos Anéis: As Duas Torres      | Senhor dos Anéis: O Retorno do Rei
Star Wars: Episódio IV                | Star Wars: Episódio V
Star Wars: Episódio IV                | Star Wars: Episódio VI
Star Wars: Episódio V                 | Star Wars: Episódio VI

### (B)
*Escreva uma consulta que retorne os pares `(x, y)` tais que `y` é continuação de `x` mas não uma sequência imediata de `x`.*

Chamamos esta consulta de `super_sequel`.

In [9]:
pdl.create_terms('super_sequel')

Pela definição:

In [10]:
super_sequel(X, Y) <= sequel(X, Y) & ~direct_sequel(X, Y)

super_sequel(X,Y) <= sequel(X,Y)&~direct_sequel(X,

E esta consulta gera a table abaixo.

In [11]:
print(super_sequel(X, Y).sort())

X                                     | Y
--------------------------------------|-----------------------------------
Esqueceram de Mim 1                   | Esqueceram de Mim 3
Esqueceram de Mim 1                   | Esqueceram de Mim 4
Esqueceram de Mim 1                   | Esqueceram de Mim 5
Esqueceram de Mim 2                   | Esqueceram de Mim 4
Esqueceram de Mim 2                   | Esqueceram de Mim 5
Esqueceram de Mim 3                   | Esqueceram de Mim 5
Filme Y                               | Filme Y.1.1
Filme Y                               | Filme Y.1.2
Rocky I                               | Rocky III
Rocky I                               | Rocky IV
Rocky I                               | Rocky V
Rocky I                               | Rocky VI
Rocky II                              | Rocky IV
Rocky II                              | Rocky V
Rocky II                              | Rocky VI
Rocky III                             | Rocky V
Rocky III                             | Rocky VI
Rocky IV                              | Rocky VI
Senhor dos Anéis: A Sociedade do Anel | Senhor dos Anéis: O Retorno do Rei
Star Wars: Episódio IV                | Star Wars: Episódio VI

### (C) 
*Escreva uma consulta que retorne os pares `(x, y)` tais que `y` é continuação de `x` mas não uma sequência imediata de `x`, nem uma sequência imediata de uma sequência imediata de `x`.*

Chamamos esta consulta de `mega_sequel`.

In [12]:
pdl.create_terms('mega_sequel')

Note que a definição do enunciado é equivalente a existir uma sequência direta de `x` de que `y` é super-sequência.

In [13]:
mega_sequel(X, Y) <= direct_sequel(X, Z) & super_sequel(Z, Y)

mega_sequel(X,Y) <= direct_sequel(X,Z)&super_seque

In [14]:
print(mega_sequel(X,Y).sort())

X                   | Y
--------------------|--------------------
Esqueceram de Mim 1 | Esqueceram de Mim 4
Esqueceram de Mim 1 | Esqueceram de Mim 5
Esqueceram de Mim 2 | Esqueceram de Mim 5
Rocky I             | Rocky IV
Rocky I             | Rocky V
Rocky I             | Rocky VI
Rocky II            | Rocky V
Rocky II            | Rocky VI
Rocky III           | Rocky VI

### (D)
*Escreva uma consulta que retorne o conjunto de filmes `x` que possuem pelo menos duas sequências diretas.*

Chamamos esta consulta de `at_least_2_direct_sequels`.

In [15]:
pdl.create_terms('at_least_2_direct_sequels')

In [16]:
at_least_2_direct_sequels(X) <= direct_sequel(X, Y) & direct_sequel(X, Z) & (Y != Z)

at_least_2_direct_sequels(X) <= direct_sequel(X,Y)

In [17]:
print(at_least_2_direct_sequels(X))

X
---------
Filme X
Filme Y.1

### (E) 
*Escreva uma consulta que retorne o conjunto de filmes `x` que possuem pelo menos duas continuações.*

Chamamos esta consulta de `at_least_2_sequels`.

In [18]:
pdl.create_terms('at_least_2_sequels')

In [19]:
at_least_2_sequels(X) <= sequel(X, Y) & sequel(X, Z) & (Y != Z)

at_least_2_sequels(X) <= sequel(X,Y)&sequel(X,Z)&!

In [20]:
print(at_least_2_sequels(X).sort())

X
-------------------------------------
Esqueceram de Mim 1
Esqueceram de Mim 2
Esqueceram de Mim 3
Filme X
Filme Y
Filme Y.1
Rocky I
Rocky II
Rocky III
Rocky IV
Senhor dos Anéis: A Sociedade do Anel
Star Wars: Episódio IV

### (F)
*Escreva uma consulta que retorne o conjunto de pares de filmes `(x, y)` tais que `y` é uma continuação de ` x` e `y` tem no máximo uma continuação.*

Chamammos esta consulta de `sequel_with_at_most_one_sequel`

In [21]:
pdl.create_terms('sequel_with_at_most_one_sequel')

In [22]:
sequel_with_at_most_one_sequel(X, Y) <= sequel(X, Y) & ~at_least_2_sequels(Y)

sequel_with_at_most_one_sequel(X,Y) <= sequel(X,Y)

In [23]:
print(sequel_with_at_most_one_sequel(X, Y).sort())

X                                     | Y
--------------------------------------|-----------------------------------
Esqueceram de Mim 1                   | Esqueceram de Mim 4
Esqueceram de Mim 1                   | Esqueceram de Mim 5
Esqueceram de Mim 2                   | Esqueceram de Mim 4
Esqueceram de Mim 2                   | Esqueceram de Mim 5
Esqueceram de Mim 3                   | Esqueceram de Mim 4
Esqueceram de Mim 3                   | Esqueceram de Mim 5
Esqueceram de Mim 4                   | Esqueceram de Mim 5
Filme X                               | Filme X.1
Filme X                               | Filme X.2
Filme Y                               | Filme Y.1.1
Filme Y                               | Filme Y.1.2
Filme Y.1                             | Filme Y.1.1
Filme Y.1                             | Filme Y.1.2
Rocky I                               | Rocky V
Rocky I                               | Rocky VI
Rocky II                              | Rocky V
Rocky II                              | Rocky VI
Rocky III                             | Rocky V
Rocky III                             | Rocky VI
Rocky IV                              | Rocky V
Rocky IV                              | Rocky VI
Rocky V                               | Rocky VI
Senhor dos Anéis: A Sociedade do Anel | Senhor dos Anéis: As Duas Torres
Senhor dos Anéis: A Sociedade do Anel | Senhor dos Anéis: O Retorno do Rei
Senhor dos Anéis: As Duas Torres      | Senhor dos Anéis: O Retorno do Rei
Star Wars: Episódio IV                | Star Wars: Episódio V
Star Wars: Episódio IV                | Star Wars: Episódio VI
Star Wars: Episódio V                 | Star Wars: Episódio VI

# Exercício 2

Considere a relação `flight`. Que contém tuplas do tipo:

*`flight(number, from, to, time_leave, time_arrive)`*

Primeiro criamos este predicado.

In [24]:
pdl.create_terms('flight')

Como precisamos comparar datas, vamos usar o módulo `datetime`.

In [25]:
from datetime import datetime

E vamos encapsular as chamadas ao `datetime` com a função `str2time` abaixo.

In [26]:
def str2time(str_time):
    today = datetime.today()
    str_today = '%d:%d:%d' % (today.year, today.month, today.day)
    
    return datetime.strptime(str_today + ':' + str_time, '%Y:%m:%d:%H:%M')

Que dado um string do tipo `'9:15'`, retorna um objeto to tipo tempo representando o horário 9:15 do dia de hoje.

In [27]:
print(str2time('9:15'))

2015-11-03 09:15:00

Podemos popular nosso banco de dados com os dados do enunciado.

In [28]:
+flight(105, 'Chicago'    , 'Pittsburgh' , str2time('8:00') , str2time('9:15') )
+flight(104, 'Chicago'    , 'Detroit'    , str2time('8:50') , str2time('9:30') )
+flight(107, 'Detroit'    , 'New York'   , str2time('11:00'), str2time('12:30'))
+flight(109, 'Pittsburgh' , 'New York'   , str2time('10:00'), str2time('12:00'))
+flight(205, 'Chicago'    , 'Las Vegas'  , str2time('14:00'), str2time('17:00'))
+flight(101, 'Los Angeles', 'Chicago'    , str2time('5:30') , str2time('7:30') )
+flight(201, 'Las Vegas'  , 'Tucson'     , str2time('17:40'), str2time('19:00'))
+flight(210, 'Tucson'     , 'Albuquerque', str2time('19:30'), str2time('20:30'))
+flight(310, 'Dallas'     , 'Albuquerque', str2time('9:30') , str2time('11:00'))
+flight(325, 'Los Angeles', 'Dallas'     , str2time('6:15') , str2time('8:15') )
+flight(425, 'Albuquerque', 'Los Angeles', str2time('21:30'), str2time('23:00'))

Para as consultas dos itens abaixo, usamos estas variáveis:

In [29]:
pdl.create_terms('Num, From, To, Tleave, Tarr, At, Dst, Conn, City, NumArr, NumLeave, T2arr, T2leave')

E temos as seguintes tuplas no banco gerado.

In [30]:
print(flight(Num, From, To, Tleave, Tarr).sort())

Num | From        | To          | Tleave              | Tarr
----|-------------|-------------|---------------------|--------------------
101 | Los Angeles | Chicago     | 2015-11-03 05:30:00 | 2015-11-03 07:30:00
104 | Chicago     | Detroit     | 2015-11-03 08:50:00 | 2015-11-03 09:30:00
105 | Chicago     | Pittsburgh  | 2015-11-03 08:00:00 | 2015-11-03 09:15:00
107 | Detroit     | New York    | 2015-11-03 11:00:00 | 2015-11-03 12:30:00
109 | Pittsburgh  | New York    | 2015-11-03 10:00:00 | 2015-11-03 12:00:00
201 | Las Vegas   | Tucson      | 2015-11-03 17:40:00 | 2015-11-03 19:00:00
205 | Chicago     | Las Vegas   | 2015-11-03 14:00:00 | 2015-11-03 17:00:00
210 | Tucson      | Albuquerque | 2015-11-03 19:30:00 | 2015-11-03 20:30:00
310 | Dallas      | Albuquerque | 2015-11-03 09:30:00 | 2015-11-03 11:00:00
325 | Los Angeles | Dallas      | 2015-11-03 06:15:00 | 2015-11-03 08:15:00
425 | Albuquerque | Los Angeles | 2015-11-03 21:30:00 | 2015-11-03 23:00:00

### (A)
*Encontre todos os números de voos com origem em Los Angeles.*

Criamos uma consulta geral `flight_from(From, Num)` que, quando passado o valor `From = 'Los Angeles'`, resolve a consulta pedida.

In [31]:
pdl.create_terms('flight_from')

In [32]:
flight_from(From, Num) <= flight(Num, From, To, Tleave, Tarr)

flight_from(From,Num) <= flight(Num,From,To,Tleave

A resolução da consulta fica então:

In [33]:
print(flight_from('Los Angeles', Num).sort())

Num
---
101
325

### (B)
*Encontre os números de todos os voos que saem de Chicago depois que o voo 101 chega em Chicago mas que saem antes de 1 hora depois da chegada desse voo.*

Criamos uma consulta mais geral `leave_city_at_most_1hour_after_flight_arrival(City, NumArr, NumLeave)`. Quando aplicada em
`leave_city_at_most_1hour_after_flight_arrival("Chicago", 101, NumLeave)`, retorna os valores de `NumLeave` que resolvem a consulta pedida no enunciado.

In [34]:
pdl.create_terms('leave_city_at_most_1hour_after_flight_arrival')

Como precisamos somar 1 hora a valores de tempo para fazer comparações, usaremos um objeto do tipo `datetime.timedelta`.

In [35]:
from datetime import timedelta

In [36]:
one_hour = timedelta(hours=1)

In [37]:
leave_city_at_most_1hour_after_flight_arrival(City, NumArr, NumLeave) <=                     \
    flight(NumLeave, City, To, Tleave, Tarr) & flight(NumArr, From, City, T2leave, T2arr) &  \
    (Tleave >= T2arr) & (Tleave <= T2arr + one_hour)

leave_city_at_most_1hour_after_flight_arrival(City

A resolução da consulta é dada abaixo.

In [38]:
print(leave_city_at_most_1hour_after_flight_arrival('Chicago', 101, NumLeave).sort())

NumLeave
--------
105

### (C)
*Encontre todos os números de voos que não saem de Chicago.*

Novamente, criamos uma consulta mais geral, `not_from(City, Num)`. Quando aplicada sobre `not_from("Chicago", Num)`, devolve os valores de `Num` que satisfazem a consulta pedida no enunciado.

In [39]:
pdl.create_terms('not_from')

In [40]:
not_from(City, Num) <= flight(Num, From, To, Tleave, Tarr) & (From != City)

not_from(City,Num) <= flight(Num,From,To,Tleave,Ta

In [41]:
print(not_from('Chicago', Num).sort())

Num
---
101
107
109
201
210
310
325
425

### (D)
*Encontre todas as cidades possíveis de se alcançar a partir de Chicago fazendo uma conexão em Detroit.*

Primeiro criamos uma consulta auxiliar `reachable_from_at(From, Conn, Dst, At)` em que, a partir de `From`, fazendo conexão em `Conn`, é possível chegar em `Dst` no horário `At`. O horário de chegada é necessário nesse predicado para podermos garantir consistência entre horário de chegada e saída de um aeroporto.

In [43]:
pdl.create_terms('reachable_from_at')

In [45]:
reachable_from_at(From, Conn, Dst, At) <= flight(Num, From, Dst, Tleave, At) & (Conn == Dst)

reachable_from_at(From,Conn,Dst,At) <= flight(Num,

In [48]:
reachable_from_at(From, Conn, Dst, At) <= reachable_from_at(From, X, Conn, Tarr) & \
    flight(Num, Conn, Dst, T2leave, At) & (Tarr <= T2leave)

reachable_from_at(From,Conn,Dst,At) <= reachable_f

O resultado da consulta pedida no enunciado pode ser visto abaixo.

In [51]:
print(reachable_from_at("Chicago", "Detroit", Dst, At).sort())

Dst      | At
---------|--------------------
Detroit  | 2015-11-03 09:30:00
New York | 2015-11-03 12:30:00

### (E)
*Encontre todas as cidades que se pode alcançar a partir de Chicago por voo direto ou por uma ou mais conexões. Mas que não se gaste mais de uma hora esperando pela conexão.*

Criamos o predicado `reachable_bounded_time_conn(From, To)` que contém as duplas tais que pode-se chegar de `From` a `To` sem esperar mais do que uma hora em uma conexão.

In [54]:
pdl.create_terms('reachable_bounded_time_conn')

In [56]:
reachable_bounded_time_conn(From, To) <= flight(Num, From, To, Tleave, Tarr)

reachable_bounded_time_conn(From,To) <= flight(Num

In [57]:
reachable_bounded_time_conn(From, To) <= reachable_from_at(From, Conn, Dst, At) & \
    flight(Num, Dst, To, Tleave, Tarr) & (Tleave >= At) & (Tleave <= At + one_hour)

reachable_bounded_time_conn(From,To) <= reachable_

In [67]:
print(reachable_bounded_time_conn("Chicago", To).sort())

To
-----------
Albuquerque
Detroit
Las Vegas
Los Angeles
New York
Pittsburgh
Tucson

### (F)
*Encontre o número de todos os voos que não partem de Chicago ou de uma cidade que é possível alcançar a partir de Chicago.*

Criamos o predicado `unreacheable_flights(Num, City)` que contém as duplas tais que `Num` é número de um voo que não se pode alcançar a partir da cidade `City`.

In [62]:
pdl.create_terms('unreacheable_flights')

In [63]:
unreacheable_flights(Num, City) <= flight(Num, From, To, Tleave, Tarr) & \
    (From != City) & ~reachable_from_at(From, Conn, From, At)

unreacheable_flights(Num,City) <= flight(Num,From,

In [64]:
print(unreacheable_flights(Num, "Chicago").sort())

Num
---
107
109
201
210
310
425